version: "3.9"

services:
  nginx:
    image: sahelluis/cloud-nginx:1.0
    ports:
      - "80:80"
    depends_on:
      - php
    volumes:
      - uploads:/var/www/html/public/uploads
    networks:
      - cloudnet
    deploy:
      replicas: 1

  php:
    image: sahelluis/cloud-php:1.0
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_DATABASE=cloud_library
      - DB_USERNAME=postgres
      - DB_PASSWORD=postgres
    volumes:
      - uploads:/var/www/html/public/uploads
    networks:
      - cloudnet
    deploy:
      replicas: 1

  db:
    image: postgres:13
    environment:
      - POSTGRES_DB=cloud_library
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - cloudnet
    deploy:
      replicas: 1

volumes:
  uploads:
  pgdata:

networks:
  cloudnet:
    driver: overlay
